.container-fluid {
    padding: 0;
    margin: 0;
}

input {
    width: 100%;
    padding: 3px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
}

input:focus, input:hover {
    border-color: #49a9ee;
    outline: none;
    box-shadow: none;
}

.btn-group {
    width: 100%;
    background: #f7f7f7;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 3px 3px 3px #eee;
}

.btn-group img {
    width: 24px;
    height: 24px;
}

.btn-group label {
    margin: 0;
    cursor: pointer;
}

.icon-btn {
    width: 24px;
    padding: 3px;
    margin: 0 2px;
    border: 1px solid transparent;
    cursor: pointer;
}

.icon-btn:hover {
    border: 1px solid #999;
}

.btn-group .input-file input {
    display: none;
}

.modal-dialog {
    max-width: 800px;
}

.modal-body {
    padding: 30px;
}

.modal-dialog input {
    width: 90%;
}

.form-inline label {
    width: 5%;
    background: #f7f7f7;
    border: 1px solid #ddd;
    padding: 5px;
}

.form-inline input {
    padding: 3px;
    border-radius: 0;
    border-left: none;
    width: 95% !important;
    outline: none;
}

.form-inline input:focus {
    border-color: none;
    outline: none;
    box-shadow: none;
}


.nav-tabs {
    margin: 2px 0 10px;
    border-top: 1px solid #939698;
    border-bottom: none;
    background: #f7f7f7;
}

.nav-tabs .nav-link {
    color: #878787;
    padding: 2px 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid transparent;
    border-color: #fff #eee #eee;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    margin-top: -1px;
    background-color: #fff;
    border-color: #fff #939698 #939698;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-tabs .add-sheet img {
    margin: 0 20px;
    width: 16px;
    cursor: pointer;
}